.category-tabs {
    text-align: center;
    bottom: 10px;
    margin-bottom: 20px;
    padding: 5px 1px;
    width: 280px;
    background-color: #f0f0f0;
    border: 1px solid #fff9f9;
    border-radius: 90px;
  }
  .shop-by-categories__tabs {
      display: flex;
      justify-content: center;
  }
  .category-tab {
    border: 1px solid #f1e5e5;
    border-radius: 30px;
    padding: 12px;
    margin: 1px;
    cursor: pointer;
    width: 85px;
    transition: background-color .3s, color .3s; 
  }
  
  .category-tab.active {
    background-color: #252E40;
    border: 5px solid gray;
    color: #fff;
    /* box-shadow: 0 0 20px rgba(255, 0, 0, 0.7),
    0 0 40px rgba(0, 255, 0, 0.7),
    0 0 60px rgba(0, 0, 255, 0.7); */
  }
  .category-tab:hover {
    background-color: #555;
    color: #fff;
    border-width: 3px;
  }
  .shop-by-categories-card {
    text-align: center;
    margin: 15px;
    display: none; 
}
  .shop-by-categories-card.active {
      display: block;
}
  .shop-by-categories-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .category-images {
      display: flex;
      justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;
  }
  .category-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: contain; 
    border-radius: 50%;
    box-shadow: 0rem 1rem #fff, 0rem 2rem #0e0e0f;
  }
  
  .image-title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #333;
    margin: 20px 0px;
  }
  
  .category-name {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
  }
  h2{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;

  }
  
  @media screen and (max-width: 768px) {
    .shop-by-categories-card {

      margin: 10px; 
    }
  
    .shop-by-categories-card img {
      width: 75px; 
      height: 75px; 
    }
  
    .category-images {
      padding: 20px;
      gap: 15px; 
    }
  
    .image-title {
      font-size: 15px; 
      margin: 15px 0; 
    }
    .whatsapp-icon {
      display: none !important; 
  }
  }
.whatsapp-icon {
    display: flex; 
    align-items: center; 
    justify-content: right; 
    padding: 0px 190px
}

.whatsapp-icon img {
  width: 65px;
  height: 65px;  
}

  